In [2]:
import pandas as pd

In [3]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [4]:
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
titanic = pd.read_csv(url)

In [5]:
print("Original Titanic dataset:")
titanic.head(50)

Original Titanic dataset:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.2417,NaN,C
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.0000,NaN,S
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.0,0,0,330958,7.8792,NaN,Q
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.8000,NaN,S

In [6]:
titanic.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [7]:
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [10]:
#Drop columns which are not necessary

In [8]:
titanic.drop(['PassengerId',"Name",'Ticket',"Cabin"],axis=1,inplace=True)

In [9]:
titanic.shape

(891, 8)

In [10]:
titanic["Sex"]=titanic["Sex"].map({'male':0,'female':1})

In [11]:
titanic.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    0  22.0      1      0   7.2500        S
1         1       1    1  38.0      1      0  71.2833        C
2         1       3    1  26.0      0      0   7.9250        S
3         1       1    1  35.0      1      0  53.1000        S
4         0       3    0  35.0      0      0   8.0500        S

In [35]:
titanic['Age']=titanic["Age"].fillna(["Age"],inplace=True)

C:\Users\Vivobook Pro\AppData\Local\Temp\ipykernel_8648\1805099422.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic['Age']=titanic["Age"].fillna(["Age"],inplace=True)

TypeError: "value" parameter must be a scalar or dict, but you passed a "list"

In [16]:
tititanic.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    2
dtype: int64

In [17]:
titanic["Embarked"]= titanic["Embarked"].mean()

TypeError: can only concatenate str (not "int") to str

In [18]:
titanic.dtypes

Survived      int64
Pclass        int64
Sex           int64
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Embarked     object
dtype: object

In [20]:
titanic["Embarked"]=titanic["Embarked"].astype(str)

In [21]:
titanic["Embarked"]=pd.to_numeric(titanic["Embarked"],errors='coerce').astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [22]:
titanic['Embarked']= titanic['Embarked'].replace([np.inf,-np.inf],np.nan)

In [23]:
titanic['Embarked']=titanic["Embarked"].dropna()

In [24]:
titanic.info

<bound method DataFrame.info of      Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    0  28.0      1      0   7.2500        S
1           1       1    1  28.0      1      0  71.2833        C
2           1       3    1  28.0      0      0   7.9250        S
3           1       1    1  28.0      1      0  53.1000        S
4           0       3    0  28.0      0      0   8.0500        S
..        ...     ...  ...   ...    ...    ...      ...      ...
886         0       2    0  28.0      0      0  13.0000        S
887         1       1    1  28.0      0      0  30.0000        S
888         0       3    1  28.0      1      2  23.4500        S
889         1       1    0  28.0      0      0  30.0000        C
890         0       3    0  28.0      0      0   7.7500        Q

[891 rows x 8 columns]>

In [25]:
titanic.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [29]:
titanic.head(10)

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    0  28.0      1      0   7.2500        S
1         1       1    1  28.0      1      0  71.2833        C
2         1       3    1  28.0      0      0   7.9250        S
3         1       1    1  28.0      1      0  53.1000        S
4         0       3    0  28.0      0      0   8.0500        S
5         0       3    0  28.0      0      0   8.4583        Q
6         0       1    0  28.0      0      0  51.8625        S
7         0       3    0  28.0      3      1  21.0750        S
8         1       3    1  28.0      0      2  11.1333        S
9         1       2    1  28.0      1      0  30.0708        C

In [36]:
titanic["Embarked"]=titanic['Embarked'].map({'S':0,'C':1,'Q':2})

In [37]:
titanic.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    0  28.0      1      0   7.2500       0.0
1         1       1    1  28.0      1      0  71.2833       1.0
2         1       3    1  28.0      0      0   7.9250       0.0
3         1       1    1  28.0      1      0  53.1000       0.0
4         0       3    0  28.0      0      0   8.0500       0.0

In [38]:
titanic['Embarked']=titanic['Embarked'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [39]:
titanic['Embarked']=titanic['Embarked'].fillna(-1)

In [40]:
titanic.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    0  28.0      1      0   7.2500       0.0
1         1       1    1  28.0      1      0  71.2833       1.0
2         1       3    1  28.0      0      0   7.9250       0.0
3         1       1    1  28.0      1      0  53.1000       0.0
4         0       3    0  28.0      0      0   8.0500       0.0

In [41]:
titanic['Embarked']=titanic['Embarked'].astype(int)

In [42]:
titanic.dtypes

Survived      int64
Pclass        int64
Sex           int64
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Embarked      int32
dtype: object

In [43]:
titanic.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    0  28.0      1      0   7.2500         0
1         1       1    1  28.0      1      0  71.2833         1
2         1       3    1  28.0      0      0   7.9250         0
3         1       1    1  28.0      1      0  53.1000         0
4         0       3    0  28.0      0      0   8.0500         0

In [45]:
scaler = MinMaxScaler()
titanic['Fare']=scaler.fit_transform(titanic['Fare'].values.reshape(-1,1))

In [46]:
titanic.head()

   Survived  Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0         0       3    0  28.0      1      0  0.014151         0
1         1       1    1  28.0      1      0  0.139136         1
2         1       3    1  28.0      0      0  0.015469         0
3         1       1    1  28.0      1      0  0.103644         0
4         0       3    0  28.0      0      0  0.015713         0

In [47]:
titanic.head(100)

    Survived  Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0          0       3    0  28.0      1      0  0.014151         0
1          1       1    1  28.0      1      0  0.139136         1
2          1       3    1  28.0      0      0  0.015469         0
3          1       1    1  28.0      1      0  0.103644         0
4          0       3    0  28.0      0      0  0.015713         0
..       ...     ...  ...   ...    ...    ...       ...       ...
95         0       3    0  28.0      0      0  0.015713         0
96         0       1    0  28.0      0      0  0.067640         1
97         1       1    0  28.0      0      1  0.123667         1
98         1       2    1  28.0      0      1  0.044893         0
99         0       2    0  28.0      1      0  0.050749         0

[100 rows x 8 columns]

In [49]:
titanic['Fare']=scaler.inverse_transform(titanic['Fare'].values.reshape(-1,1))

In [50]:
titanic.head(100)

    Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0          0       3    0  28.0      1      0   7.2500         0
1          1       1    1  28.0      1      0  71.2833         1
2          1       3    1  28.0      0      0   7.9250         0
3          1       1    1  28.0      1      0  53.1000         0
4          0       3    0  28.0      0      0   8.0500         0
..       ...     ...  ...   ...    ...    ...      ...       ...
95         0       3    0  28.0      0      0   8.0500         0
96         0       1    0  28.0      0      0  34.6542         1
97         1       1    0  28.0      0      1  63.3583         1
98         1       2    1  28.0      0      1  23.0000         0
99         0       2    0  28.0      1      0  26.0000         0

[100 rows x 8 columns]

In [51]:
titanic['Fare'].max

<bound method Series.max of 0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: Fare, Length: 891, dtype: float64>

In [52]:
titanic.describe()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
count,891.000000,891.000000,891.000000,891.0,891.000000,891.000000,891.000000,891.000000
mean,0.383838,2.308642,0.352413,28.0,0.523008,0.381594,32.204208,0.359147
std,0.486592,0.836071,0.477990,0.0,1.102743,0.806057,49.693429,0.638707
min,0.000000,1.000000,0.000000,28.0,0.000000,0.000000,0.000000,-1.000000
25%,0.000000,2.000000,0.000000,28.0,0.000000,0.000000,7.910400,0.000000
50%,0.000000,3.000000,0.000000,28.0,0.000000,0.000000,14.454200,0.000000
75%,1.000000,3.000000,1.000000,28.0,1.000000,0.000000,31.000000,1.000000
max,1.000000,3.000000,1.000000,28.0,8.000000,6.000000,512.329200,2.000000

In [53]:
scaler=MinMaxScaler()
titanic['Fare']=scaler.fit_transform(titanic['Fare'].values.reshape(-1,1))

In [54]:
titanic.head(100)

    Survived  Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0          0       3    0  28.0      1      0  0.014151         0
1          1       1    1  28.0      1      0  0.139136         1
2          1       3    1  28.0      0      0  0.015469         0
3          1       1    1  28.0      1      0  0.103644         0
4          0       3    0  28.0      0      0  0.015713         0
..       ...     ...  ...   ...    ...    ...       ...       ...
95         0       3    0  28.0      0      0  0.015713         0
96         0       1    0  28.0      0      0  0.067640         1
97         1       1    0  28.0      0      1  0.123667         1
98         1       2    1  28.0      0      1  0.044893         0
99         0       2    0  28.0      1      0  0.050749         0

[100 rows x 8 columns]

In [55]:
##Converting categorical value in numerical value

In [56]:
from sklearn.preprocessing import LabelEncoder

In [57]:
label_encoder = LabelEncoder()

In [58]:
titanic["Embarked"].unique()

array([ 0,  1,  2, -1])

In [59]:
titanic["Embarked_Encoded"]=label_encoder.fit_transform(titanic["Embarked"])

In [60]:
titanic['Embarked_Encoded'].head()

0    1
1    2
2    1
3    1
4    1
Name: Embarked_Encoded, dtype: int64

In [61]:
titanic.shape

(891, 9)

In [62]:
titanic.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked', 'Embarked_Encoded'],
      dtype='object')

In [68]:
titanic=titanic.drop('Embarked',axis=1)

In [69]:
titanic.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked_Encoded'],
      dtype='object')